# Developer tooling
.vscode
.eslintcache
coverage

# Config file
config.json

# node
node_modules/
npm-debug.log

pids
*.pid
*.seed
*.pid.lock

# COTW information file
data/cotw.json

# Database
*.sqlite
databaseFiles/storagedata.db
