{
  "token": "T0K3N",
  "prefix": "!",
  "botname": "Horace",
  "habitica": {
    "id": "0000-0000-0000",
    "token": "0000-0000-0000"
  },
  "roles": {
    "cotwChampion": "000",
    "cotwManager": "000",
    "initiate": "000"
  },
  "channels": {
    "citadel": "632002605891059725",
    "cotw": "000",
    "tos": "000",
    "accountability": "634097214922424350"
  },
  "emotes": {
    "acceptTOS": "✅",
    "hocReaction": "🎉",
    "pinMessage": "📌",
    "sleeplogReaction": "🛏️",
    "cotwVow": "⚔",
    "cotwReflection": "🛡"
  }
}
