{
  "token": "T0K3N",
  "prefix": "!",
  "botname": "Horace",
  "habitica": {
    "id": "0000-0000-0000",
    "token": "0000-0000-0000"
  },
  "roles": {
    "member": "000",
    "cotwChampion": "000",
    "cotwManager": "000",
    "initiate": "000",
    "focusedraider": "000",
    "guardian": "000",
    "helper": "000"
  },
  "channels": {
    "citadel": "000",
    "cotw": "000",
    "tos": "000",
    "snapshots": "000",
    "moderation": "000",
    "messagelogs": "000",
    "sleepclub": "000",
    "hallofconquests": "000",
    "accountability": "000",
    "chooseroles": "000",
    "gratitude": "000",
    "staffaccountability": "000",
    "commandcenter": "000"
  },
  "emotes": {
    "acceptTOS": "✅",
    "bookmark": "🔖",
    "hocReaction": "🎉",
    "focusedRaider": "🎉",
    "sleeplogReaction": "🛏️",
    "sleeplog": "<:log:644552324702011402>",
    "cotwVow": "⚔",
    "cotwReflection": "🛡",
    "pinMessage": "📌",
    "goodmorning": "🌞",
    "goodnight": "🌜",
    "accountability_emotes_array": ["💯", "529488404103299074", "👍", "🔥", "🙌", "👏", "👌", "💪", "587455770283737110", "531663637694382089"],
    "pom": "🍅",
    "yes2": "<:yes:562072692086276118>",
    "no": "<:no:692804572602957896>",
    "congrats": "✔️",
    "highlights": "☀️",
    "wave": "👋",
    "gratitude": "☺️",
    "conquer": "<:conquer:658774929478647808>",
    "reminders": "❗",
    "confirm": "👍",
    "deny": "👎"
  },
  "pinLimit": 5,
  "reflectionCheckDepth": 5,
  "focusedRaiderMessageId": "000",
  "reminderScanInterval": 30000,
  "chainMessageCharLimit": "40",
  "forbiddenHighlightChannels": ["0000", "0000"],
  "forceStrictGreetings": false,
  "strict_morning_regex": "mo*rning (koa[^a-z]*|knights[^a-z]*|friends[^a-z]*|everyone[^a-z]*)$",
  "strict_night_regex": "ni*ght (koa[^a-z]*|knights[^a-z]*|friends[^a-z]*|everyone[^a-z]*)$",
  "normal_morning_regex": "g+o{2,}d+\\s*m+o+r+n+i+n+g+",
  "normal_night_regex": "g+o{2,}d+\\s*n+i+g+h+t+"
}
